body {
  margin:0; padding:0;
  font-family: "VT323", monospace;
  font-weight: bold;
  font-size: 12px;
  background: #efb87b;
}

a {
  color: #000;
  text-decoration: none;
}

.pause .canvas,
.pause .canvas:after,
.pause .sky:before,
.pause .sky:after,
.pause .block {
  -webkit-animation: none !important;
}

.canvas {
  height: 400px;
  background-image: linear-gradient(to bottom,
    #8acaff 300px,
    #a25a0d 301px,
    #a25a0d 302px,
    #efb87b 303px,
    #efb87b 400px
  );
  position: relative;
  overflow: hidden;
}

.pause .gameover {
  display: block;
}

.gameover {
  display: none;
  width: 300px;
  position: absolute;
  left: 50%;
  margin: 40px;
  font-size: 14px;
  color: #0a4c86;
  margin-left: -150px;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .12);
}

.gameover h1 {
  color: #fff;
  line-height: 90px;
  font-size: 120px;
  margin: 0 0 5px;
}

/*soil*/
.canvas:after {
  content: ""; display: block;
  background-image: repeating-linear-gradient(-45deg,
    transparent 5px,
    #a25a0d 6px,
    #a25a0d 7px,
    transparent 8px,
    transparent 11px
  );
  background-size: 8px 4px;
  background-repeat: repeat-x;
  height: 10px;
  position: relative;
  -webkit-animation: background .08s infinite linear;
  background-position: 0 0;
}
@-webkit-keyframes background {
  0% { background-position: 0 0; }
  100% { background-position: -10px 0; }
}

.sky {
  height: 300px;
  position: relative;
}

@-webkit-keyframes blowsa {
  0% { right: -20% }
  100% { right: 120% }
}

@-webkit-keyframes blowsb {
  0% { right: -50% }
  100% { right: 120% }
}

.sky:before, .sky:after {
  position: absolute;
  content: ""; display: block;
  width: 35px;
  height: 20px;
  border-radius: 70% 80%;
  opacity: .4;
  background-color: white;
  box-shadow: -22px -5px 0 rgba(255, 255, 255, .5);
}

.sky:after {
  -webkit-animation: blowsa 25s infinite linear;
  right: -20%;
  top: 230px;
}

.sky:before {
  -webkit-animation: blowsb 20s infinite linear;
  right: -50%;
  top: 180px;
}

.sk8terboi {
  position: absolute;
  left: 50%;
  bottom: 100px;
  z-index: 100;
  width: 35px; height: 46px;
  margin-left: -16px;
  background-image: url(../img/man.png);
  -webkit-transition: left .1s ease-in, bottom .1s ease-in;
}

.sk8terboi.jumping {
  bottom: 125px;
  background-position: -70px 0;
}

.sk8terboi.push {
  background-position: -35px 0;
}

.sk8terboi.speed {
  -webkit-animation: speed 4s infinite ease-out;
}

@-webkit-keyframes speed {
  0% { left: 50% }
  2% { left: 50% }
  30% { left: 54%; }
  35% { left: 54%; }
}

.keys, .github {
  position: absolute;
  padding: 10px;
}

.github {
  z-index: 100;
  right: 0;
}

.key {
  margin-bottom: 10px;
  display: inline-block;
  padding: 5px 8px;
  border: 1px solid #000;
  border-radius: 2px;
  text-transform: uppercase;
}

.block {
  border: 2px solid #a25a0d;
  border-bottom: 0;
  background: #efb87b;
  right: -20px;
  width: 40px;
  position: absolute;
  bottom: 101px;
  -webkit-animation: moveOutOfFrame 80s infinite linear;
}

.block-1 {
  height: 10px;
}

@-webkit-keyframes moveOutOfFrame {
  0% { margin-right: 0; }
  100% { margin-right: 10000px; }
}
